#header {
  border-bottom: 1px solid #007bff;
  padding-left: 0;
  padding-right: 0;

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    margin-right: 20px; // Space between logo and nav links
  }

  .nav-link {
    transition: color 0.3s ease-in-out;
    padding: 10px 15px;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .nav-item.active .nav-link {
    color: #007bff; // Use primary color for active menu item
  }

  #logo {
    img {
      height: 45px;
      width: auto;
    }
  }
}